body {
    line-height: 1.5;
    font-size: 1rem;
}
i {
    cursor: pointer;
}
a {
    text-decoration: none;
}
.main {
    margin: 0;
    padding: 0;
}
.root {
    width: 100vw;
}
.main .nav {
    height: 100vh;
    padding: 0;
}
.pos-absolute {
    position: absolute;
}
.color-red {
    color: rgb(194, 35, 35);
}
.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.width-auto{ 
    width: auto;
}
.height-auto {
    height: auto;
}
.main ul {
    list-style-type: none;
    padding: 0
}
.fw-300 {
    font-weight: 300;
}
.fw-500 {
    font-weight: 500;
}
.tl-center {
    text-align: center;
}
.vh-100 {
    height: 100vh;
}
.kanbas-btn-gray {
    color: rgb(102, 98, 98);
}
.kanbas-btn-gray:hover {
    color: rgb(102, 98, 98);
    background-color: rgb(225, 225, 225);
}
.pointer {
    cursor: pointer;
}
.truncate-text {
    white-space: nowrap;       /* Prevent text from wrapping to the next line */
    overflow: hidden;          /* Hide any overflowing content */
    text-overflow: ellipsis;   /* Display ellipsis (...) for truncated text */
}
.heading {
    font-size: 2.2rem;
    font-weight: 200;
    margin-top: 18px;
}
.sub-heading {
    font-size: 1.5rem;
    font-weight: 400;
}
  












.nav-1 i {
    font-size: 1.5rem;
}
.main .nav-1 a{
    padding: 5px;
    color: white;
}
.main a:active {
    color: white;
}
.main .nav-1 {
    background-color: black;
    color: red;
    padding: 0;
    max-width: 95px;
    position: fixed;
    overflow-y: auto;
    height: 100%;   
}
.nav-1 li {
    padding: 7px 0;
    font-family: Helvetica;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    cursor: pointer;
}
.nav-1 .active {
    background-color: white
}

.main .nav-2 {
    max-width: 200px;
    margin-right: 10px;
}

.nav-2 li {
    padding: 5px 0 5px 20px;
}
.nav-2 li a {
    color: rgb(194, 35, 35);
    padding: 8px 5px;
}
.nav-2 .active {
    border-left: 2px solid black;
    color: black
}
.btn-border {
    border: 1px solid rgb(185, 181, 181);
}
.btn-border:hover {
    border: 1px solid rgb(185, 181, 181);
    filter: brightness(90%);
}
